---
import Layout from "../../layouts/Layout.astro";
import GalleryGrid from "../../components/GalleryGrid.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const albums = await getCollection("albums");
  return albums.map((album) => ({
    params: { slug: album.id },
    props: { album },
  }));
}

const { album } = Astro.props;
---
<Layout title={album.data.title} description={album.data.description ?? album.data.title} image={album.data.cover}>
  <div class="container">
    <h1 class="page-title">{album.data.title}</h1>
    {album.data.description && <p class="prose">{album.data.description}</p>}
    <div style="margin-top: 2rem;">
      <GalleryGrid images={album.data.images} title={album.data.title} />
    </div>
  </div>
</Layout>